@model IEnumerable<Financeiro.Models.bancos_contas>


<div class="table-responsive-lg" id="" style="font-size:small">
    <table class="table table-striped   fontpequena table-hover table-sm">
        <thead>
            <tr class="pigendo-secundary text-light ">
                <th>
                    Descrição
                </th>
                <th>
                    Bancos
                </th>
                <th>
                    Tipo de Conta
                </th>
                <th>
                    Num. Conta
                </th>
                <th>
                    Agencia
                </th>
                <th>
                    Saldo
                </th>
                <th align="center">
                    <a>Operações</a>
                </th>
            </tr>
        </thead>
        <tbody class="">
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bancos.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tp_conta.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.conta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.agencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.saldo)
                    </td>
                    <td align="center">
                        <a href="#" class="btn btn-primary btn-sm btneditar" onclick="deletar()" id="btndelete" data-value="@item.bancos_contas_id " name="@item.bancos_contas_id" data-toggle="tooltip" data-placement="top" title="Editar">
                            <span class="fa fa-pencil"></span>

                        </a>

                        <a href="#" class="btn btn-danger btn-sm btndelete" onclick="deletar()" id="btndelete" data-value="@item.bancos_contas_id " name="@item.bancos_contas_id" data-toggle="tooltip" data-placement="top" title="Excluir">
                            <span class="fa fa-trash"></span>

                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="row" style="font-size:small">
    <div class="col-6 m-1 row">

    </div>
    <div class="col-5 m-1" style="text-align:right">

    </div>
</div>
<div class="modal fade border border-dark" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="teste">

        </div>
    </div>
</div>
    <script type="text/javascript">

        $(document).on("click", ".btndelete",
            function () {
                var id = $(this).data("value");
                $("#teste").load("/bancos_contas/Delete/" + id,
                    function () {
                        $("#exampleModalCenter").modal("show");
                    }
                );

            }
        );
        $(document).on("click", ".btneditar",
            function () {
                var id = $(this).data("value");
                $("#teste").load("/bancos_contas/Edit/" + id,
                    function () {
                        $('.alert').alert('close');
                        $("#exampleModalCenter").modal("show");
                    }
                );

            }
        );

        


    </script>
