@model Financeiro.Models.bancos_contas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>bancos_contas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bancos.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bancos.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tp_conta.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tp_conta.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.swift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.swift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apagado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtcadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtcadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cad_usuario_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cad_usuario_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtalteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtalteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alt_usuario_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alt_usuario_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apag_usuario_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apag_usuario_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
