@model Financeiro.Models.bancos_contas
<div id="Novaconta">
    <div class="modal-header p-2">
        <h5 class="modal-title m-1">Detalhes da conta</h5>
        <a class="btn" style="color:red" href="@Url.Action("Index")"><span class="fa fa-close"></span></a>
    </div>

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "sucesso()", OnFailure = "falha() ", OnComplete = "completo()", HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Novaconta" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-row border-white border">
                <div class="form-group col-md-12 form-row">
                
                    <div class="col-md-12 p-0">
                        <div class="col-sm-12  col-md-12 col-lg-12 col-12 col-xl-12">
                            @if (ViewBag.erro == "erro")
                            {
                                <div class="alert  p-1 alert-warning" role="alert">
                                    <label class="col-form-label col-form-label-sm  ">Operção não pode salvar.</label>
                                </div>
                            }
                            <div class="alert p-1 alert-success" role="alert">
                                <label class="col-form-label col-form-label-sm  ">Salvo com sucesso.</label>
                            </div>
                        </div>
                        @Html.EditorFor(model => model.bancos_contas_id, new { htmlAttributes = new { @type = "hidden", @class = "form-control form-control-sm col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12", @placeholder = "Nome da conta" } })
                        <label class="col-form-label col-form-label-sm  col-sm-10">Inativo</label>
                        <div class="col-sm-12">
                            <input class="form-check col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" name="inativo" type="checkbox" id="inlineCheckbox2" @ViewBag.inativo>
                        </div>
                        <label class=" col-form-label col-form-label-sm col-md-12">Descrição</label>
                        <div class="col-sm-12  col-md-12 col-lg-12 col-12 col-xl-12">
                            @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control form-control-sm col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12", @placeholder = "Nome da conta" } })
                            @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger col-form-label-sm" })
                        </div>
                        <label class="col-form-label col-form-label-sm  col-12">Banco</label>
                        <div class="col-sm-12 ">
                            @Html.DropDownList("bancos_id", null, htmlAttributes: new { @class = "form-control form-control-sm col-10 col-lg-10 col-md-10 col-xl-12 col-sm-10 col-12" })
                        </div>
                        <label class="col-form-label col-form-label-sm  col-sm-10">Tipo de conta</label>
                        <div class="col-sm-12 ">
                            @Html.DropDownList("idtp_conta", null, htmlAttributes: new { @class = "form-control form-control-sm col-lg-10 col-10 col-sm-10 col-md-10 col-xl-12 col-12" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="col-form-label col-form-label-sm  col-12">Conta</label>
                            <div class="col-12">
                                @Html.EditorFor(model => model.conta, new { htmlAttributes = new { @class = "form-control form-control-sm col-12", @placeholder = "Conta" } })
                                @Html.ValidationMessageFor(model => model.conta, "", new { @class = "text-danger col-form-label-sm" })
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="col-form-label col-form-label-sm  col-12">Agencia</label>
                            <div class="col-12 ">
                                @Html.EditorFor(model => model.agencia, new { htmlAttributes = new { @class = "form-control form-control-sm col-12", @placeholder = "Agencia" } })
                                @Html.ValidationMessageFor(model => model.agencia, "", new { @class = "text-danger col-form-label-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label class="col-form-label col-form-label-sm  col-sm-10">NIB</label>
                            <div class="col-12 ">
                                @Html.EditorFor(model => model.nib, new { htmlAttributes = new { @class = "form-control form-control-sm col-12", @placeholder = "Nib" } })
                                @Html.ValidationMessageFor(model => model.nib, "", new { @class = "text-danger col-form-label-sm" })
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="col-form-label col-form-label-sm  col-sm-10">Swift</label>
                            <div class="col-12">
                                @Html.EditorFor(model => model.swift, new { htmlAttributes = new { @class = "form-control form-control-sm col-12", @placeholder = "Swift" } })
                                @Html.ValidationMessageFor(model => model.swift, "", new { @class = "text-danger col-form-label-sm" })
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="col-form-label col-form-label-sm  col-sm-10">IBAN</label>
                            <div class="col-12 ">
                                @Html.EditorFor(model => model.iban, new { htmlAttributes = new { @class = "form-control form-control-sm col-12", @placeholder = "Iban" } })
                                @Html.ValidationMessageFor(model => model.iban, "", new { @class = "text-danger col-form-label-sm" })
                            </div>
                        </div>
                        <div class="col-12">
                            <label class="col-sm-2 col-form-label   col-form-label-sm">Obs</label>
                            <div class="col-12">
                                @Html.TextAreaFor(model => model.obs, htmlAttributes: new { @class = "form-control col-12", @placeholder = "Digite aqui as observações da sua conta" })
                                @Html.ValidationMessageFor(model => model.obs, "", new { @class = "text-danger col-form-label-sm" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 m-1">
                        <label class="col-sm-2 col-form-label   col-form-label-sm">Opções</label>
                        <div class="col-sm-12">
                            <a href="@Url.Action("Index", "bancos")" target="_blank" onclick="" class="btn btn-warning btndetalhes btn-sm" id="btnnovo" data-toggle="tooltip" data-placement="top" title="Novo Banco">
                                <span class="fa fa-plus"></span> Novo Banco
                            </a>
                            <a href="@Url.Action("Index", "tp_conta")" target="_blank" class="btn btn-warning btndetalhes btn-sm" id="btnnovo" data-toggle="tooltip" data-placement="top" title="Novo Banco">
                                <span class="fa fa-plus"></span> Novo tipo de conta
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-2">
            <div class="form-group col-12 m-1 text-right">
                <div class="col-md-offset-2 col-md-12">
                    <button class="btn btn-sm btn-primary"><span class="fa fa-save"></span> Salvar</button>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Index")"><span class="fa fa-sign-out"></span> Sair</a>
                </div>
            </div>
        </div>
    }
</div>