
@using PagedList;
@using PagedList.Mvc;

@{
    /**/

    ViewBag.Title = "Index";
    var at = ViewBag.ativo;
    var it = ViewBag.inativo;
}

<h4>Contas</h4>
<hr class="corpadrao" />
<p>

</p>
<div>
    <divcol-10 class="row">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row container-fluid form-group">
                    <a>@ViewBag.inativo</a>
                    <input class="form-control form-control-sm" id="Buscar" name="Buscar" />&nbsp
                    <input type="submit" value="Buscar" class=" btn btn-sm btn-default" />
                    <div class="form-check form-check-inline">
                        &nbsp &nbsp  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="ativo" value="A" @ViewBag.ativo  >
                        <label class="form-check-label fontepequena" style="font-size:small" for="inlineCheckbox1">Ativos</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="inativo" type="checkbox" id="inlineCheckbox2" value="I" @ViewBag.inativo>
                        <label class="form-check-label fontepequena" style="font-size:small" for="inlineCheckbox2">Inativos</label>
                    </div>
                </div>
            }
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" align="right">
            <a href="#" class="btn btn-success btnnovo btn-sm " id="btnnovo" data-toggle="tooltip" data-placement="top" title="Nova conta">
                <span class="oi oi-plus"></span>
            </a>

        </div>
</div>
@Html.Action("Listar")
</div>
<div class="modal fade" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="teste">

                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
            $(document).ready(function () {
                $(".btndetalhes").click(function () {
                    var id = $(this).data("value");
                    $("#teste").load("/bancos_contas/Details/" + id,
                        function () {
                            $("#exampleModalCenter").modal("show");
                        }
                    );

                });
                $(".btnnovo").click(function () {
                    $("#teste2").load("@Url.Action("Create","bancos_contas")",
                        function () {
                           // $("#exampleModalCenter").modal("show");
                        }
                    );

                });

            });
    </script>
}