@model Financeiro.Models.tp_conta
<div class="modal-header pigendo-secondary">
    <h5 class="modal-title">Cadastrar novo tipo de conta</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span class="fa fa-close" style="color:crimson"></span>
    </button>
</div>
@using (Html.BeginForm())
{
<div class="modal-body">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group espaco_form">
        @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-12 col-form-label-sm" })
        <div class="col-md-10 espaco_form">
            @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control form-control-sm", @placeholde = "Nome tipo de conta " } })
            @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group espaco_form">
        @Html.LabelFor(model => model.fundos, htmlAttributes: new { @class = "control-label col-md-12 col-form-label-sm" })
        <div class="col-md-10 espaco_form">
            @Html.EditorFor(model => model.fundos)
            @Html.ValidationMessageFor(model => model.fundos, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group espaco_form">
        @Html.LabelFor(model => model.investimento, htmlAttributes: new { @class = "control-label col-md-12 col-form-label-sm" })
        <div class="col-md-10 espaco_form">
            @Html.EditorFor(model => model.investimento)
            @Html.ValidationMessageFor(model => model.investimento, "", new { @class = "text-danger" })
        </div>
    </div>


</div>
    <div class="modal-footer pigendo-secondary">
        <button class="btn btn-sm btn-primary"><span class="fa fa-save"></span> Salvar</button>
        <a class="btn btn-sm btn-danger" href="#" data-dismiss="modal"><span class="fa fa-sign-out"></span> Sair</a>
    </div>
}
